<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<!-- THIS IS THE LISTING PAGE FOR PODCASTS -->

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		<h1 class="page-title">Podcasts</h1>

		<p>I host a podcast, <a href="http://twoscrumsup.com/">Two Scrums Up</a>, which focuses on sharing Agile anecdotes, successes, and missteps. New episodes come out every Tuesday.</p>

		<div class="post-tags">
		  <nav class="nav tags">
		    <h6>Subscribe to <em>Two Scrums Up</em> for free:</h6>
		        <ul class="flat">
		            <li><a data-target="listing.icon" class="listen__item listen__item--apple" alt="Apple Podcasts" href="https://podcasts.apple.com/us/podcast/two-scrums-up/id1511778952">Apple Podcasts</a></li>
		            <li><a data-target="listing.icon" class="listen__item listen__item--spotify" target="_blank" alt="Spotify" href="https://open.spotify.com/show/2ydNTvFZlsEAPnbQfJ8G29">Spotify</a></li>
		            <li><a data-target="listing.icon" class="listen__item listen__item--google" target="_blank" alt="Google Podcasts" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS85OTEzNzgucnNz">Google Podcasts</a></li>
		            <li><a data-target="listing.icon" class="listen__item listen__item--stitcher hide" target="_blank" alt="Stitcher" href="https://www.stitcher.com/podcast/two-scrums-up">Stitcher</a></li>
		        </ul>
		  </nav>
		</div>

		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
