<figure>
    <audio controls src="https://www.buzzsprout.com/991378/ {{ .Params.episode }} ">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>

<div class="post-tags">
  <nav class="nav tags">
    <h6>Subscribe to <em>Two Scrums Up</em> for free:</h6>
        <ul class="flat">
            <li><a data-target="listing.icon" class="listen__item listen__item--apple" alt="Apple Podcasts" href="https://podcasts.apple.com/us/podcast/two-scrums-up/id1511778952">Apple Podcasts</a></li>
            <li><a data-target="listing.icon" class="listen__item listen__item--spotify" target="_blank" alt="Spotify" href="https://open.spotify.com/show/2ydNTvFZlsEAPnbQfJ8G29">Spotify</a></li>
            <li><a data-target="listing.icon" class="listen__item listen__item--google" target="_blank" alt="Google Podcasts" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS85OTEzNzgucnNz">Google Podcasts</a></li>
            <li><a data-target="listing.icon" class="listen__item listen__item--stitcher hide" target="_blank" alt="Stitcher" href="https://www.stitcher.com/podcast/two-scrums-up">Stitcher</a></li>
        </ul>
  </nav>
</div>
